Source: lingmo-application-manager
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat ( =12), cmake,
 libgtest-dev,
 libsystemd-dev,
 pkg-config,
 qt6-base-dev,
 libdtkcommon-dev,
 libdtk6core-dev,
 treeland-protocols,
 qt6-wayland-dev,
 qt6-base-private-dev,
 qt6-wayland-private-dev,
 libxkbcommon-dev,
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/lingmo-application-manager

Package: lingmo-application-manager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description:  Application manager for DDE.
  Launch applications by systemd for more caps.

Package: lingmo-application-manager-api
Architecture: any
Depends: lingmo-application-manager( =${binary:Version}), ${misc:Depends}
Description: DBus Interface of dde-application-manager.
  For the convenience of developers who want to use dde-application-manager.
